@page "/"

<div class="topnav">
    <div id="aktywne">          
        <a id="aktywne"> 
            <img src="icons/tv.svg" alt="Logo"> Sklep Komputer
        </a>
    </div>
    <a href="/komputery">Komputery</a>
    <a href="/monitory">Monitory</a>
    <a href="/myszki">Myszki</a>
    <a href="/klawiatury">Klawiatury</a>
    <input type="text" placeholder="Szukaj...">
</div>

<div class="stronawstepna">
    <h1>Witamy w naszym sklepie komputerowym!</h1>
    <h2>Znajdziesz u nas wszystko, czego potrzebujesz do swojego komputera.</h2>
    <h2>Nasze sugerowane produkty:</h2>
</div>

<div class="sugerowaneprodukty">
    <div>
        <img src="images/komputer1.png" alt="Komputer 1">
        <p>Komputer 1</p>
        <p>Cena: 2 315zł</p>
    </div>
    <div>
        <img src="images/komputer2.png" alt="Komputer 2">
        <p>Komputer 2</p>
        <p>Cena: 1 899zł</p>
    </div>
    <div>
        <img src="images/komputer3.png" alt="Komputer 3">
        <p>Komputer 3</p>
        <p>Cena: 3 450zł</p>
    </div>
    <div>
        <img src="images/komputer4.png" alt="Komputer 4">
        <p>Komputer 4</p>
        <p>Cena: 2 799zł</p>
    </div>
    <div>
        <img src="images/komputer5.png" alt="Komputer 5">
        <p>Komputer 5</p>
        <p>Cena: 1 599zł</p>
    </div>
    <div>
        <img src="images/myszka1.png" alt="Myszka 1">
        <p>Myszka 1</p>
        <p>Cena: 199zł</p>
    </div>
    <div>
        <img src="images/myszka2.png" alt="Myszka 2">
        <p>Myszka 2</p>
        <p>Cena: 249zł</p>
    </div>
    <div>
        <img src="images/monitor1.png" alt="Monitor 1">
        <p>Monitor 1</p>
        <p>Cena: 1 299zł</p>
    </div>
    <div>
        <img src="images/monitor2.png" alt="Monitor 2">
        <p>Monitor 2</p>
        <p>Cena: 1 599zł</p>
    </div>
    <div>
        <img src="images/klawiatura1.png" alt="Klawiatura 1">
        <p>Klawiatura 1</p>
        <p>Cena: 349zł</p>
    </div>
</div>