@page "/klawiatury"

<div class="topnav">
    <div id="nazwa">
        <a href="/"><img src="icons/tv.svg" alt="Logo"> Sklep Komputer</a>
    </div>
    <a href="/komputery">Komputery</a>
    <a href="/monitory">Monitory</a>
    <a href="/myszki">Myszki</a>
    <a id="aktywne" href="/klawiatury">Klawiatury</a>
    <input type="text" placeholder="Szukaj...">
</div>

<div class="produktynasubstronie">
    <div>
        <h2>Klawiatura 1</h2>
        <img src="images/klawiatura1.png" alt="Klawiatura 1">
        <p class="cena">Cena: 2 315zł</p>
    </div>
    <div>
        <h2>Klawiatura 2</h2>
        <img src="images/klawiatura2.png" alt="Klawiatura 2">
        <p class="cena">Cena: 2 315zł</p>
    </div>
    <div>
        <h2>Klawiatura 3</h2>
        <img src="images/klawiatura3.png" alt="Klawiatura 3">
        <p class="cena">Cena: 2 315zł</p>
    </div>
</div>

@* <style>
    @import "css/styles.css";
</style> *@