@page "/komputery"

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/mvp.css"> 
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sklep Komputer</title>
        <meta name="description" content="">
        <link rel="stylesheet" href="styles.css">
        <link rel="icon" href="icons/tv.svg" type="image/svg+xml">
    </head>
    <body class="bodycolor">
        <div class="topnav">
            <div id="nazwa">
                <a href="/">
                    <img src="icons/tv.svg" alt="Logo"> Sklep Komputer
                </a>
            </div>
            <a id="aktywne" href="/komputery">Komputery</a>
            <a href="/monitory">Monitory</a>
            <a href="/myszki">Myszki</a>
            <a href="/klawiatury">Klawiatury</a>
            <input type="text" placeholder="Szukaj...">
        </div>
        <div class="produktynasubstronie">
            <div>
                <h2>Komputer 1</h2>
                <img src="images/komputer1.png" alt="Komputer 1">
                <p class="cena">Cena: 3 499zł</p>
            </div>
            <div>
                <h2>Komputer 2</h2>
                <img src="images/komputer2.png" alt="Komputer 2">
                <p class="cena">Cena: 2 199zł</p>
            </div>
            <div>
                <h2>Komputer 3</h2>
                <img src="images/komputer3.png" alt="Komputer 3">
                <p class="cena">Cena: 1 799zł</p>
            </div>
            <div>
                <h2>Komputer 4</h2>
                <img src="images/komputer4.png" alt="Komputer 4">
                <p class="cena">Cena: 249zł</p>
            </div>
            <div>
                <h2>Komputer 5</h2>
                <img src="images/komputer5.png" alt="Komputer 5">
                <p class="cena">Cena: 4 799zł</p>
            </div>
            <div>
                <h2>Komputer 6</h2>
                <img src="images/komputer6.png" alt="Komputer 6">
                <p class="cena">Cena: 3 299zł</p>
            </div>
            <div>
                <h2>Komputer 7</h2>
                <img src="images/komputer7.png" alt="Komputer 7">
                <p class="cena">Cena: 1 299zł</p>
            </div>
            <div>
                <h2>Komputer 8</h2>
                <img src="images/komputer8.png" alt="Komputer 8">
                <p class="cena">Cena: 2 599zł</p>
            </div>
            <div>
                <h2>Komputer 9</h2>
                <img src="images/komputer9.png" alt="Komputer 9">
                <p class="cena">Cena: 1 999zł</p>
            </div>
        </div>
        @* <style>
            @import "css/styles.css";
        </style> *@
    </body>
</html>